@()
<div>
  <form class="form-inline" action="@controllers.routes.Application.authenticate" method="post">
    <label class="sr-only" for="inlineFormInput">Username</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">USERNAME</div>
      <input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" id="email" placeholder="Enter email" name="email">
    </div>

    <label class="sr-only" for="inlineFormInputGroup">Password</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">PASSWORD</div>
      <input type="password" class="form-control" id="inlineFormInputGroup" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Next</button>
  </form>
</div>
