/home/pallavi/Desktop/code-combat/customer_erudition/frontend/customer_erudition/target
frontend/customer_erudition/.g8/
.idea/
/frontend/customer_erudition/.idea/
/frontend/customer_erudition/target/
/frontend/target/
