<section><!-- About Customer Erudition part 1 -->
    <div>
        <div class="container-fluid">
            <div class="row" style="margin-top:5px">
                <div class="col-md-8 col-sm-7" style="margin-top:5px">
                    <div >
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <h4 class="title"> What is Customer Erudition ?</h4>
                                <p class="para-txt">
                                    Customer Erudition is a bdhfgvhjdhj vdhfghjdh gfhjgdsfjh gfhsgfjhs gfhjgsjfh\
                                    hsdbfjhs ghfdhsjkf hfhsjkfn fghjhjfk jajdoq jospls dhsjl duaos;
                                    cjsdhk hjdksjdl dhasdj jdhjkd djdkja
                                    Customer Erudition is a bdhfgvhjdhj vdhfghjdh gfhjgdsfjh gfhsgfjhs gfhjgsjfh\
                                    hsdbfjhs ghfdhsjkf hfhsjkfn fghjhjfk jajdoq jospls dhsjl duaos;
                                    cjsdhk hjdksjdl dhasdj jdhjkd djdkja
                                </p>
                            </div>
                        </div>
                    </div>

                </div>  <!-- Customer Erudition -->
                <div class="col-md-4 col-sm-5" style="margin-top:5px; text-align: right">
                    <div class="right-block">
                            <div>
                                <h4 class="title"><a href="know.html">Know your Client</a></h4>
                            </div>
                        <div>
                            <h4 class="title"><a href="#">Search</a></h4>
                        </div>
                        <div>
                            <h4 class="title"><a href="know.html">Need help?</a></h4>
                        </div>
                        <div>
                            <h4 class="title"><a href="know.html">Know about BlockChains</a></h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End About Customer Erudition part -->

<section><!-- Flow Customer Erudition part -->
    <div style="align-content: center; ">
        <div class="container-fluid">
            <h4 class="title"> Why Customer Erudition ?</h4>

            <div class="col-md-6 col-sm-6">
                <a href="#" target="_blank">
                        <h4 class="title">Centralization</h4>
                </a>
                <p>A line of description</p>
            </div>

            <div class="col-md-6 col-sm-6">
                <a href="#" target="_blank">
                    <h4 class="title">Verify Easily</h4>
                </a>
                <p>A line of description</p>
            </div>

            <div class="col-md-6 col-sm-6">
                <a href="#" target="_blank">
                    <h4 class="title">Fast</h4>
                </a>
                <p>A line of description</p>
            </div>

            <div class="col-md-6 col-sm-6">
                <a href="#" target="_blank">
                    <h4 class="title">Ready Available</h4>
                </a>
                <p>A line of description</p>
            </div>

        </div>
    </div>
</section><!-- End Flow Customer Erudition part -->
